.main {
  padding: 0 $pading;
  display: grid;
  justify-content: center;

  &__container {
    width: mainWidth($cardWidth, $gap, $pading);
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    height: min-content;
    gap: 50px $gap;
  }
}
