.stars {
  display: grid;
  grid-template-columns: repeat(5, auto);

  &__star {
    height: 15px;
    width: 15px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__star--active {
    background-image: url(../images/star-active.svg);
    margin-right: 4px;
  }
}
